<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group-Chat</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />
    <link rel="stylesheet" href="../Css/home.css" />
  </head>
  <body>
    <!-- <div class="container mt-5"> -->
      <!-- <div class="row clearfix"> -->
        <!-- <div class="col-lg-12"> -->
          <!-- <div class="card chat-app"> -->
            <div id="plist" class="people-list">
              <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                  <div class="col-md-4 col-xl-3 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                      <div class="card-header">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Search..." />
                        </div>
                      </div>
                      <div class="card-body contacts_body">
                        <ul class="contacts" id="groups">
                          <li class="active">
                            <div class="d-flex bd-highlight">
                              <div class="user_info">
                                <span>Deva</span>
                                <p>Deva is online</p>
                              </div>
                            </div>
                          </li>
                          <!-- <li>
                            <div class="d-flex bd-highlight">
                              <div class="user_info">
                                <span>Mike Thomas</span>
                                <p>Mike is online</p>
                              </div>
                            </div>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8 col-xl-8 chat">
                    <div class="card" id="chatBox">
                      <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                          <div class="user_info" id="groupNameHeading">
                            <span>Chat with Dev</span>
                            <p>1767 Messages</p>
                          </div>
                          <!-- <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                          </div> -->

                          <span id="action_menu_btn"
                          ><i class="fas fa-ellipsis-v"></i
                        ></span>
    
                         <div class="action_menu">
                          <ul>
                            <li id="groupMembers">
                              <i class="fas fa-users"></i>Group Members
                            </li>                        
                            <li id="createGroup">
                              <i class="fas fa-comments"></i> Create Group
                            </li>
                            <li id="addToGroup">
                              <i class="fas fa-plus"></i> Add to group
                            </li>
                            <!-- <li><i class="fas fa-ban"></i> Block</li> -->
                            <li id="deleteFromGroup">
                              <i class="fas fa-ban"></i>Delete From Group
                            </li>
                            <li id="logout"><i class="fas fa-lock"></i>LogOut</li>
                          </ul>
                        </div>

                        </div>
                      </div>
                    </div>


                   


                      <div class="card-body msg_card_body" id="chatBoxBody">
                        <div class="d-flex justify-content-start mb-4">
                          <div class="msg_cotainer">
                            Hi, how are you?
                            <span class="msg_time">8:40 AM, Today</span>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end mb-4">
                          <div class="msg_cotainer_send">
                            I am good, thanks. How about you?
                            <span class="msg_time_send">8:55 AM, Today</span>
                          </div>
                        </div>
                        <div class="d-flex justify-content-start mb-4">
                          <div class="msg_cotainer">
                            I am good too, thanks for the chat!
                            <span class="msg_time">9:00 AM, Today</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                          </div>
                          <textarea
                            class="form-control type_msg"
                            placeholder="Type your message..."
                            id="messageTextArea"
                          ></textarea>
                          <div class="input-group-append" id="messageSendBtn">
                            <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
    ></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="../JavaScript/group.js"></script>
    <script src="../JavaScript/chat.js"></script>

    <script>
      $(document).ready(function () {
        $("#action_menu_btn").click(function () {
          $(".action_menu").toggle();
        });
      });
    </script>
  </body>
</html>
