<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../Css/login.css">
</head>
<body>
    <div class="signup-container">
        <h2>Login Up</h2>
        <form id="loginForm">
           
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email" required />
            </div>
           
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Create a password" required />
            </div>
            <button type="submit" class="btn">Login</button>
            <button type="click" class="btn" id="goToSignUp">Sign Up</button>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JavaScript/login.js"></script>
</body>
</html>
